In [1]:
import pandas as pd 
# load file from Baseball Reference (https://www.baseball-reference.com/players/p/pujolal01.shtml)
file = "resources/pujols_stats_csv.csv"

#read stat data into pandas df
pujols_df = pd.read_csv(file, header=0)
pujols_df.head

<bound method NDFrame.head of     Year  Age   Tm  Lg    G   PA   AB    R    H  2B  ...    OPS  OPS+   TB  \
0   2001   21  STL  NL  161  676  590  112  194  47  ...  1.013   157  360
1   2002   22  STL  NL  157  675  590  118  185  40  ...  0.955   151  331
2   2003   23  STL  NL  157  685  591  137  212  51  ...  1.106   187  394
3   2004   24  STL  NL  154  692  592  133  196  51  ...  1.072   173  389
4   2005   25  STL  NL  161  700  591  129  195  38  ...  1.039   168  360
5   2006   26  STL  NL  143  634  535  119  177  33  ...  1.102   178  359
6   2007   27  STL  NL  158  679  565   99  185  38  ...  0.997   157  321
7   2008   28  STL  NL  148  641  524  100  187  44  ...  1.114   192  342
8   2009   29  STL  NL  160  700  568  124  186  45  ...  1.101   189  374
9   2010   30  STL  NL  159  700  587  115  183  39  ...  1.011   173  350
10  2011   31  STL  NL  147  651  579  105  173  29  ...  0.906   148  313
11  2012   32  LAA  AL  154  670  607   85  173  50  ...  0.859   138  313
12  2013   33  LAA  AL   99  443  391   49  101  19  ...  0.767   116  171
13  2014   34  LAA  AL  159  695  633   89  172  37  ...  0.790   126  295
14  2015   35  LAA  AL  157  661  602   85  147  22  ...  0.787   118  289
15  2016   36  LAA  AL  152  650  593   71  159  19  ...  0.780   113  271
16  2017   37  LAA  AL  149  636  593   53  143  17  ...  0.672    80  229
17  2018   38  LAA  AL  117  498  465   50  114  20  ...  0.700    91  191
18  2019   39  LAA  AL  131  545  491   55  120  22  ...  0.734    90  211
19  2020   40  LAA  AL   39  163  152   15   34   8  ...  0.665    77   60
20  2021   41  LAA  AL   24   92   86    9   17   0  ...  0.622    72   32

    GDP  HBP  SH  SF  IBB        Pos             Awards
0    21    9   1   7    6    5379/DH  AS,MVP-4,RoY-1,SS
1    20    9   0   4   13  *753/DH96              MVP-2
2    13   10   0   5   12     *73/HD        AS,MVP-2,SS
3    21    7   0   9   12      *3/DH        AS,MVP-3,SS
4    19    9   0   3   27       *3/H           AS,MVP-1
5    20    4   0   3   28       *3/H        AS,MVP-2,GG
6    27    7   0   8   22       *3/H           AS,MVP-9
7    16    5   0   8   34     *3/HD4        AS,MVP-1,SS
8    23    9   0   8   44      *3/HD        AS,MVP-1,SS
9    23    4   0   6   38       *3/H     AS,MVP-2,GG,SS
10   29    4   0   7   15      *3/5H              MVP-5
11   19    5   0   6   16      *3D/5             MVP-17
12   18    5   0   7    8         D3                NaN
13   28    5   0   9   11      *3D/5             MVP-17
14   15    6   0   3   10       3D/5                 AS
15   24    2   0   6    6      *D3/H                NaN
16   26    2   0   4    5      *D/3H                NaN
17   12    2   0   3    3         3D                NaN
18   21    3   0   8    1      3D/H5                NaN
19    4    1   0   1    1       3D/H                NaN
20    4    3   0   0    1      3/DH5                NaN

[21 rows x 30 columns]>

In [2]:
#get column names to narrow down approach
col_list = pujols_df.columns.values.tolist()
print(col_list)

['Year', 'Age', 'Tm', 'Lg', 'G', 'PA', 'AB', 'R', 'H', '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'BA', 'OBP', 'SLG', 'OPS', 'OPS+', 'TB', 'GDP', 'HBP', 'SH', 'SF', 'IBB', 'Pos', 'Awards']

In [3]:
#create new df without Awards or Position values -- numbers only except team ID
AP_clean = pujols_df.drop(['Awards', 'Pos', 'Lg'], axis=1)

In [4]:
AP_clean.head()

,Year,Age,Tm,G,PA,AB,R,H,2B,3B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,2001,21,STL,161,676,590,112,194,47,4,...,0.403,0.610,1.013,157,360,21,9,1,7,6
1,2002,22,STL,157,675,590,118,185,40,2,...,0.394,0.561,0.955,151,331,20,9,0,4,13
2,2003,23,STL,157,685,591,137,212,51,1,...,0.439,0.667,1.106,187,394,13,10,0,5,12
3,2004,24,STL,154,692,592,133,196,51,2,...,0.415,0.657,1.072,173,389,21,7,0,9,12
4,2005,25,STL,161,700,591,129,195,38,2,...,0.430,0.609,1.039,168,360,19,9,0,3,27